.detel{
    
    margin-left: 8%;
    margin-right: 6%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2vw;
  }
   /* width: 100%; */

.detl>h3{
  padding: 5%;
}

.images{
  margin-left: 8%;
}
.profile-container {
    display: flex;
    /* margin-top:19%; */
    /* height: 100%; */
    margin-left: 15%;
    flex-direction: column;
    align-items: center;
    width: 75%;
    /* justify-content: space-between; */
    padding: 20px;
    
    color: #fff;
    letter-spacing: 1px;
    line-height: 1;
    
  }
.namestyle:hover{
 color: rgba(117,60,216,.99);
}
.stylename{
    color:  rgba(117,60,216,.99);
}
.shape{
  border-radius: 50%;
  width: 15%;
}