#eachPost{
  flex: 1;
  border-right: 1px solid  rgba(117,60,216,.33);
  border-left: 1px solid  rgba(117,60,216,.33);
  min-width: fit-content;
  overflow-y: scroll; 
}
.post{
  display: flex;
}
.post__avatar {
  padding: .7rem .1rem .75rem 1.1rem;
}
.post__header{
  display: flexbox;
  margin-top: 0.8rem;
  /* flex-wrap: nowrap; */
  padding: .1rem .8rem;
}
.post__headerText>h3 {
  font-size: 15px;
  font-family: 'Comfortaa', cursive;
  font-family: 'Ubuntu', sans-serif;
  /* font-weight: 800; */
  margin-bottom: 5px;
  color: aliceblue;
}
.post__headerText>h2 {
  font-family: 'Comfortaa', cursive;
  font-size: 15px;
  /* font-weight: 800; */
  margin-bottom: 5px;
  color: aliceblue;
}

/* Hide scrollbar for Chrome, Safari and Opera */
#eachPost::-webkit-scrollbar {
  display: none;
}

/* Starting */

#widgetTop{
  display: flex;
  flex-direction: column;
  /* border: 1px solid rgba(117,60,216,.99); */
  /* background-color: rgba(44, 29, 71, 0.99);   */
  height: 55vh !important;
  margin: 2rem;
  border-radius: 2rem;
  overflow: scroll  ;
}
#widgetTop::-webkit-scrollbar {
  display: none;
}
#widgetTop>h2{
  background-color:rgba(117, 60, 216, 0.132) ;  
  color:rgb(226, 226, 226)  ;
  text-align: center;
  align-items: center;
}
#widgetBottom{
  display: flex;
  border: 2px solid green;  
  height: 20vh;
  /* background-color: aquamarine; */
  color:yellow;
}
#widget{
  height: 100vh;
}